@import "blog.scss";
@import "estilos-generales";

.articulo {
  img {
    margin: 20px auto;
    width: 100%;
  }
  p {
    margin: 25px 0px;
    font-size: 1.3em;
  }
  &__video {
    width: 100%;
  }
  .side {
    width: 100%;
  }
  
}


@media (min-width: 600px) {
  .articulo{
    .main__img {
      width: 80%;
    }
  }
}

@media (min-width: 768px) {
  .form {
    .input {
      width: 70%;
    }
  }
}

@media (min-width: 1024px) {
.articulo {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-areas: "main side" "suscripcion side";
    justify-content: space-between;
    align-items: flex-start;
    .main {
      grid-area: main;
      &__img {
        width: 100%;
      }
    }
    .content {
      width: 80%;
    }
    .side {
      grid-area: side;
    }
    .suscripcion {
      grid-area: suscripcion;
    }
  }
}
