.blog {
    .main-new {
        margin-top: 0px;
        &__img {
            width: 100%;
        }
        &__texto {
            width: 80%;
            margin: auto;
        }
    }
    &__informacion {
        font-size: 18px;
    }
    &__titular {
        color: #1D2F57;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #0A9DD3;
        }
    }
    .articulos {
        &__img {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.sidebar {
    width: 85%;
    margin: 0px auto 100px auto;
}

@media(min-width:768px) {
    .blog {
        .articulos {
            flex-direction: row;
            flex-wrap: wrap;
            .seccion {
                width: 45%;
                margin: 0px auto;
                height: 450px;
            }
        }
        .blog__titular {
            text-align: justify;
        }
    }
}