.blog {
    .main-new {
        margin-top: 0px;
        .main-new__img {
            width: 100%;
        }
        .main-new__texto {
            width: 80%;
            margin: auto;
        }
    }
    .informacion {
        font-size: 18px;
    }
    .articulos__titular {
        color: #1D2F57;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #0A9DD3;
        }
    }
    .articulos {
        .main__img {
            width: 100%;
        }
    }
}

@media(min-width:768px) {}