/*
    PAGINA DE CONTACTO
*/

.contacto {
    .contacto__textarea {
        max-height: 130px;
        min-height: 130px;
    }
   
}

@media(min-width:1024px) {
    .contacto {
        flex-direction: row;
        justify-content: space-around;
    }
}