/*
    FUENTES
*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap");
/*
    PALETA DE COLORES.
*/
/*TARJETAS*/
/*
    ESTILOS GENERALES
*/
* {
  padding: 0px;
  margin: 0px;
}

.boton {
  display: block;
  width: 200px;
  height: 50px;
  margin: 15px auto;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #3485BF;
  color: white;
  transition: all 1.5s;
  font-size: 20px;
}
.boton:hover {
  color: white;
  background-color: #46B3FF;
  transform: scale(1.1);
}

body p {
  margin: 0px;
  font-family: "EB Garamond";
  font-size: 24px;
  text-align: justify;
}
body a {
  font-family: "EB Garamond";
  font-size: 24px;
  text-decoration: none;
}

/*
    CONTENT
*/
.content, .content-index {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
    TITULOS Y SUBTITULOS
*/
.titulo {
  margin: 25px 0px;
  text-align: center;
}

/*
    ESTILOS CON FLEX.
*/
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
    SECCIONES
*/
.seccion {
  margin: 30px auto;
}

.seccion:nth-last-child(1) {
  margin-bottom: 0px;
}

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F9FA;
}
header .header__logo {
  width: 60px;
  height: 60px;
  border-radius: 99px;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item {
  margin: 0px 10px;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: black;
  font-size: 22px;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item:hover {
  background-color: #112C40;
  padding: 0px 5px;
  transition: all 0.5s;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item:hover a {
  color: white;
}
@media (max-width: 994px) {
  header .navbar .container-fluid .collapse .navbar-nav .nav-item {
    margin: 10px 0px;
  }
}

.footer {
  background-color: #112C40;
  padding: 15px 0px;
  align-items: center;
  color: white;
}
.footer__red-social {
  display: inline-block;
  width: 50px;
  transition: all 0.5s;
  border-radius: 5px;
}
.footer__img {
  width: 100%;
}
.footer__link {
  color: white;
  margin: 12px;
  transition: all 0.5s;
}
.footer__link:hover {
  transform: scale(1.1);
  color: white;
}
.footer__mapa {
  border-radius: 5px;
  width: 100%;
  height: 200px;
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
/*INDEX*/
.content-index {
  padding-top: 0px;
}

/*IMAGEN PRINCIPAL Y ENCABEZADO*/
.background {
  background-image: url("../img/ondas.png"), linear-gradient(237deg, #112C40 0%, #225980 100%);
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 850px;
  color: white;
}
.background__titular {
  order: 2;
  margin: 0px auto;
  width: 80%;
}
.background__img {
  order: 1;
  max-width: 50%;
  height: auto;
  margin: 0px auto;
}

@media (min-width: 1024px) {
  .background__titular {
    padding: 50px 0px;
  }
  .background__img {
    width: 30%;
    order: 2;
  }
}
@media (min-width: 1200px) {
  .background {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .background__titular {
    width: 40%;
    margin: 150px 0px 0px 0px;
  }
  .background__img {
    width: 40%;
    margin: 0px;
  }
}
/*PRESENTACION DE LA EMPRESA*/
.video {
  width: 100%;
}
.video__pelicula {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media (min-width: 768px) {
  .video {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .video {
    width: 50%;
  }
}
/*
    REPRODUCTOR DE VIDEO ELEMENTOS
*/
.video .video__pelicula .vjs-control-bar {
  background: white;
  color: #112C40;
}
.video .video__pelicula .vjs-play-progress {
  background: #112C40;
}
.video .video__pelicula .vjs-volume-level {
  background-color: #112C40;
}
.video .video__pelicula .vjs-slider {
  background-color: #112C40;
}
.video .video__pelicula .vjs-tech:hover ~ .vjs-big-play-button {
  background-color: rgba(0, 0, 0, 0.1);
}
.video .video__pelicula .vjs-big-play-button {
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0.1);
}
.video .video__pelicula .vjs-big-play-button:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

/*MISION Y VISION DE LA EMPRESA*/
.tarjeta {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px #ccc;
  transition: all 1s;
}
.tarjeta:hover {
  background-color: #112C40;
  color: white;
  transform: scale(1.05);
}
.tarjeta__parrafo {
  margin: 20px;
}
.tarjeta__img {
  display: block;
  margin: auto;
  width: 200px;
}

@media (min-width: 768px) {
  .tarjetas {
    display: flex;
  }
  .tarjetas .tarjeta {
    width: 45%;
  }
}
/*
    FIN DEL INDEX
*/
/*SERVICIOS*/
/*
    PAGINA DE SERVICIOS
*/
.servicios .servicios__presentacion-img {
  width: 50%;
}
.servicios .servicios__card {
  height: 500px;
  margin: 20px 0px;
  padding: 20px;
}
.servicios .servicios__card .servicios__img {
  width: 150px;
  margin: 0px auto;
}
.servicios .servicios__card .servicios__img:hover {
  transform: scale(1.1);
}
.servicios .titulo {
  color: #112C40;
}

/*
    RESPONSIVE SERVICIOS CARDS
*/
@media (min-width: 786px) {
  .servicios__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .servicios__cards .servicios__card {
    margin: 0px;
  }
  .servicios__cards .servicios__subtitulo {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .servicios .servicios__cards {
    justify-content: space-between;
  }
  .servicios .servicios__cards .servicios__card {
    max-width: 23%;
  }
}
/*
    PAGINA DE CONTACTO
*/
/*
    PAGINA DE CONTACTO
*/
.contacto .contacto__newsletter {
  display: flex;
  align-items: center;
}
.contacto .contacto__input {
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 5px;
  margin: 10px 0px;
}
.contacto .contacto__textarea {
  max-height: 130px;
  min-height: 130px;
}
.contacto .contacto__checkbox {
  margin-left: 15px;
  width: 20px;
  height: 20px;
}
.contacto .contacto__checkbox:hover {
  cursor: pointer;
}
.contacto .contacto__telefono {
  width: 425px;
}

@media (min-width: 1024px) {
  .contacto {
    flex-direction: row;
    justify-content: space-around;
  }
}
/*
    BLOG
*/
.blog .main-new {
  margin-top: 0px;
}
.blog .main-new__img {
  width: 100%;
}
.blog .main-new__texto {
  width: 80%;
  margin: auto;
}
.blog__informacion {
  font-size: 18px;
}
.blog__titular {
  color: #112C40;
  font-weight: bold;
  cursor: pointer;
}
.blog__titular:hover {
  color: #46B3FF;
}
.blog .articulos__img {
  width: 100%;
  margin-bottom: 10px;
}
.blog .sidebar {
  width: 85%;
  margin: 0px auto 100px;
}

@media (min-width: 768px) {
  .blog .articulos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog .articulos .seccion {
    width: 45%;
    height: 450px;
    margin: 0px;
  }
  .blog .blog__titular {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .blog {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 60% 30%;
    grid-template-rows: auto auto;
    grid-template-areas: "main side" "articulos  side";
  }
  .blog .main-new {
    grid-area: main;
  }
  .blog .main-new__texto {
    width: 100%;
  }
  .blog .articulos {
    width: 100%;
    grid-area: articulos;
  }
  .blog .sidebar {
    grid-area: side;
  }
}
/*
    GALERIA
*/
.galeria {
  width: 100%;
  background-image: radial-gradient(circle at 50% 3.41%, #8bafd0 0, #659ac7 25%, #3385bf 50%, #0070b6 75%, #005dae 100%);
}
.galeria .burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}
.galeria .burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}
.galeria .burbuja:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 20%;
  animation-duration: 3s;
  animation-delay: 1s;
}
.galeria .burbuja:nth-child(4) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4.3s;
}
.galeria .burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 15%;
  animation-duration: 2.5s;
  animation-delay: 1s;
}
.galeria .burbuja:nth-child(6) {
  width: 120px;
  height: 120px;
  left: 50%;
  animation-duration: 5s;
  animation-delay: 3s;
}
.galeria .burbuja:nth-child(7) {
  width: 70px;
  height: 70px;
  left: 90%;
  animation-duration: 3s;
  animation-delay: 1s;
}
.galeria .burbuja:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 75%;
  animation-duration: 4s;
  animation-delay: 1s;
}
.galeria .burbuja:nth-child(9) {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-duration: 2s;
  animation-delay: 1.5s;
}
.galeria .burbuja {
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  animation: burbujas 3s linear infinite;
}
.galeria .galeria__titulo {
  color: white;
  text-align: center;
  padding: 20px 0px 0px;
}
.galeria .galeria__imagenes .galeria__imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.galeria .galeria__imagenes .galeria__imagen:hover {
  filter: blur(1px);
  transform: scale(1.1);
  opacity: 0.9;
  transition: all 0.5s;
}
.galeria .galeria__imagenes .galeria__enlace {
  margin: 15px auto;
  position: relative;
  overflow: hidden;
}
.galeria .pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.8s;
}
.galeria .pop-up .pop-up__img {
  width: 75vw;
  height: 70vh;
}
.galeria .pop-up .pop-up__close {
  text-align: center;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: #851919;
  color: white;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.galeria .pop-up .pop-up__close:hover {
  background-color: #d11717;
}
.galeria .pop-up .pop-up__close:target {
  transform: scale(0);
}
.galeria .pop-up .pop-up__link {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #008cff;
  color: white;
  line-height: 50px;
  font-size: 25px;
  margin: 0px 10px;
  border-radius: 5px;
}
.galeria .pop-up .pop-up__link:hover {
  opacity: 0.8;
}
.galeria .pop-up:target {
  transform: scale(1);
}

/*
    ANIMACIONES BURBUJAS
*/
@keyframes burbujas {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}
/*
 RESPONSIVE IMAGENES
*/
@media (min-width: 768px) {
  .galeria .galeria__imagenes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .galeria .galeria__enlace {
    margin: 15px auto;
    width: 45%;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .galeria .galeria__enlace {
    width: 30%;
  }
}

/*# sourceMappingURL=estilos.css.map */
