/*
    FUENTES 
*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap");
/*
    PALETA DE COLORES.
*/
/*
  FUENTES
*/
/*
  BORDES
*/
/*
  ANIMACIONES
*/
/*
    ESTILOS GENERALES
*/
* {
  padding: 0px;
  margin: 0px;
}

.boton {
  display: block;
  width: 200px;
  height: 50px;
  margin: 15px auto;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #3485BF;
  color: white;
  transition: all 1.5s;
  font-size: 20px;
}
.boton:hover {
  color: white;
  background-color: #46B3FF;
  transform: scale(1.1);
}

body p {
  margin: 0px;
  font-family: "EB Garamond";
  font-size: 24px;
  text-align: justify;
}
body a {
  font-family: "EB Garamond";
  font-size: 24px;
  text-decoration: none;
}
body img {
  display: block;
}

/*
    CONTENEDOR
*/
.content, .content-services, .content-index {
  padding-top: 50px;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
    TITULOS
*/
.titulo, .titulo-white {
  margin: 25px auto;
  text-align: center;
  color: #225980;
}

.titulo-white {
  color: white;
}

/*
    ALINEADO VERTICAL CON FLEX
*/
.alinear-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alinear-horizontal {
  flex-direction: row;
  justify-content: space-around;
}

/*
    INPUTS
*/
.input {
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 5px;
  margin: 10px 0px;
  border: 2px solid #225980;
  border-radius: 10px;
}

.newsletter {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.checkbox:hover {
  cursor: pointer;
}

/*
  TARJETA
*/
.card, .tarjeta, .servicios .service {
  width: 25%;
  background-color: #fff;
  box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 30px;
  margin: 20px 0px;
}

.card__titulo {
  font-weight: 500;
  font-size: 24px;
}

.card__parrafo {
  color: #112C40;
  font-size: 18px;
  line-height: 32px;
}

/*
    SEPARAR SECCIONES DE LAS PAGINAS
*/
.seccion {
  margin: 30px auto;
}

.seccion:nth-last-child(1) {
  margin-bottom: 0px;
}

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F9FA;
}
header .header__logo {
  width: 60px;
  height: 60px;
  border-radius: 99px;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item {
  margin: 0px 10px;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: black;
  font-size: 22px;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item:hover {
  background-color: #112C40;
  padding: 0px 5px;
  transition: all 1s;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item:hover a {
  color: white;
}
@media (max-width: 994px) {
  header .navbar .container-fluid .collapse .navbar-nav .nav-item {
    margin: 10px 0px;
  }
}

.footer {
  margin-top: 100px;
  background-color: #112C40;
  padding: 15px 0px;
  align-items: center;
  color: white;
}
.footer__red-social {
  display: inline-block;
  width: 50px;
  transition: all 1s;
  border-radius: 10px;
}
.footer__img {
  width: 100%;
}
.footer__link {
  color: white;
  margin: 12px;
  transition: all 1s;
  cursor: pointer;
}
.footer__link:hover {
  transform: scale(1.1);
  color: white;
}
.footer__mapa {
  border-radius: 5px;
  width: 100%;
  height: 200px;
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
/*INDEX*/
.content-index {
  padding: 30px 0px 0px;
  align-items: flex-start;
}

/*IMAGEN PRINCIPAL Y ENCABEZADO*/
.background {
  background-image: url("https://i.postimg.cc/FK8p6mDT/ondas.png"), linear-gradient(237deg, #112C40 0%, #225980 100%);
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 750px;
}
.background__titular {
  margin: 0px auto;
  width: 80%;
}
.background__img {
  max-width: 50%;
  margin: 0px auto;
}

@media (min-width: 768px) {
  .background__img {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .background__img {
    width: 30%;
    order: 2;
  }
}
@media (min-width: 1200px) {
  .background {
    height: 850px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 100px;
  }
  .background .backgorund__titular {
    width: 40%;
    margin: 150px 0px 0px 0px;
  }
  .background__img {
    width: 40%;
    margin: 0px;
  }
}
/*
    SERVICIOS
*/
.servicios .titular .boton {
  margin: 30px 0px 0px;
  background-color: #2970fa;
  line-height: 40px;
  letter-spacing: 1px;
}
.servicios .service h4 {
  font-size: 23px;
  font-weight: bold;
  font-family: "Rubik";
}
.servicios .service a {
  letter-spacing: 1px;
  font-size: 13px;
  font-family: "Rubik";
}
.servicios h2 {
  font-family: "Rubik";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  color: #ff8f00;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .servicios .contenedor {
    flex-direction: row;
    justify-content: space-between;
  }
  .servicios .contenedor .titular {
    width: 49%;
  }
  .servicios .contenedor .service-1 {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .servicios .service {
    width: 27%;
  }
  .servicios .contenedor {
    justify-content: space-around;
  }
  .servicios .contenedor .service-1 {
    width: 27%;
    margin-left: 130px;
  }
  .servicios .contenedor .contenedor .titular {
    width: 49%;
  }
  .servicios .contenedor .contenedor h3 {
    font-size: 38px;
  }
  .servicios .contenedor2 {
    flex-direction: row;
    justify-content: space-around;
  }
  .servicios .contenedor2 .service-2 {
    position: relative;
    top: -200px;
  }
}
/*MISION Y VISION DE LA EMPRESA*/
.tarjeta {
  height: 520px;
  display: inline-block;
  border-radius: 10px;
  transition: all 1s;
}
.tarjeta:hover {
  background-color: #112C40;
  color: white;
  transform: scale(1.05);
}
.tarjeta:hover .titulo, .tarjeta:hover .titulo-white {
  color: white;
}
.tarjeta__parrafo {
  margin: 20px;
}
.tarjeta__img {
  margin: auto;
  width: 150px;
}

@media (min-width: 768px) {
  .tarjetas {
    display: flex;
    justify-content: space-;
  }
  .tarjetas .tarjeta {
    width: 45%;
  }
}
/*
    FIN DEL INDEX
*/
/*
    PAGINA DE SERVICIOS
*/
.content-services {
  padding-top: 0px;
}

.services-page .seccion {
  background-color: #F5F5F5;
}
.services-page__info {
  padding: 40px 36px;
}
.services-page__img {
  width: 100%;
}

@media (min-width: 600px) {
  .services-page .seccion {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .content-services {
    width: 90%;
  }

  .services-page {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services-page .seccion {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .content-services {
    width: 85%;
    align-items: flex-start;
  }
  .content-services .card__parrafo {
    color: #112C40;
    font-size: 20px;
  }
  .content-services .seccion {
    width: 30%;
  }
}
/*
  PAGINA DE BLOG
*/
.blog .main-blog {
  margin-top: 0px;
}
.blog .main-blog__img {
  width: 100%;
}
.blog .main-blog__texto {
  width: 85%;
  margin: auto;
}
.blog__informacion {
  font-size: 18px;
  margin: 10px 0px;
}
.blog .blog__titular {
  font-weight: bold;
  text-align: justify;
}
.blog .blog__titular:hover {
  color: #46B3FF;
}
.blog .articulos__img {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
}
.blog .articulos .blog__titular {
  font-size: 24px;
}
.blog .sidebar {
  width: 85%;
  margin: 0px auto 100px;
}

@media (min-width: 768px) {
  .blog .main-blog__img {
    width: 85%;
  }
  .blog .articulos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog .articulos .seccion {
    width: 46%;
    height: 320px;
    margin: 30px auto;
  }
  .blog .articulos .articulos__img {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .blog {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: 70% 25%;
    grid-template-rows: auto auto;
    grid-template-areas: "main side" "articulos  side";
  }
  .blog .main-blog {
    grid-area: main;
  }
  .blog .main-blog__texto {
    width: 100%;
  }
  .blog .main-blog__img {
    width: 100%;
  }
  .blog .articulos {
    width: 100%;
    grid-area: articulos;
  }
  .blog .sidebar {
    grid-area: side;
  }
}
/*
    PAGINAS DE ARTICULOS
*/
.articulo img {
  margin: 20px auto;
  width: 100%;
}
.articulo p {
  margin: 25px 0px;
  font-size: 1.3em;
}
.articulo__video {
  width: 100%;
}
.articulo .side {
  width: 100%;
}

@media (min-width: 600px) {
  .articulo .main__img {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .form .input {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .articulo {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-areas: "main side" "suscripcion side";
    justify-content: space-between;
    align-items: flex-start;
  }
  .articulo .main {
    grid-area: main;
  }
  .articulo .main__img {
    width: 100%;
  }
  .articulo .content, .articulo .content-index, .articulo .content-services {
    width: 80%;
  }
  .articulo .side {
    grid-area: side;
  }
  .articulo .suscripcion {
    grid-area: suscripcion;
  }
}
/*
  PAGINA DE GALERIA
*/
.galeria {
  width: 100%;
  background-image: radial-gradient(circle at 50% 3.41%, #8bafd0 0, #659ac7 25%, #3385bf 50%, #0070b6 75%, #005dae 100%);
  /*
      ANIMACIONES DE LAS BURBUJAS.
  */
  /*
      ESTILOS DE LA GALERIA.
  */
}
.galeria .burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}
.galeria .burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}
.galeria .burbuja:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 20%;
  animation-duration: 3s;
  animation-delay: 1s;
}
.galeria .burbuja:nth-child(4) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4.3s;
}
.galeria .burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 15%;
  animation-duration: 2.5s;
  animation-delay: 1s;
}
.galeria .burbuja:nth-child(6) {
  width: 120px;
  height: 120px;
  left: 50%;
  animation-duration: 5s;
  animation-delay: 3s;
}
.galeria .burbuja:nth-child(7) {
  width: 70px;
  height: 70px;
  left: 90%;
  animation-duration: 3s;
  animation-delay: 1s;
}
.galeria .burbuja:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 75%;
  animation-duration: 4s;
  animation-delay: 1s;
}
.galeria .burbuja:nth-child(9) {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-duration: 2s;
  animation-delay: 1.5s;
}
.galeria .burbuja {
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  animation: burbujas 3s linear infinite;
}
.galeria .titulo-white {
  margin: 0px;
  padding: 20px 0px 0px;
}
.galeria .galeria__imagenes .galeria__imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.galeria .galeria__imagenes .galeria__imagen:hover {
  filter: blur(1px);
  transform: scale(1.1);
  opacity: 0.9;
  transition: all 0.5s;
}
.galeria .galeria__imagenes .galeria__enlace {
  margin: 15px auto;
  position: relative;
  overflow: hidden;
}
.galeria .pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.8s;
}
.galeria .pop-up .pop-up__img {
  width: 75vw;
  height: 70vh;
}
.galeria .pop-up .pop-up__close {
  text-align: center;
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: #851919;
  color: white;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.galeria .pop-up .pop-up__close:hover {
  background-color: #d11717;
}
.galeria .pop-up .pop-up__close:target {
  transform: scale(0);
}
.galeria .pop-up .pop-up__link {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #008cff;
  color: white;
  line-height: 50px;
  font-size: 25px;
  margin: 0px 10px;
  border-radius: 5px;
}
.galeria .pop-up .pop-up__link:hover {
  opacity: 0.8;
}
.galeria .pop-up:target {
  transform: scale(1);
}

/*
  ANIMACIONES BURBUJAS
*/
@keyframes burbujas {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}
/*
RESPONSIVE IMAGENES galeria
*/
@media (min-width: 768px) {
  .galeria .galeria__imagenes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .galeria .galeria__enlace {
    margin: 15px auto;
    width: 45%;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .galeria .galeria__enlace {
    width: 30%;
  }
}
/*
  FIN DE GALERIA
*/
/*
    PAGINA DE CONTACTO
*/
.contacto .contacto__textarea {
  max-height: 130px;
  min-height: 130px;
}

@media (min-width: 1024px) {
  .contacto {
    flex-direction: row;
    justify-content: space-around;
  }
}
/*
    GALERIA
*/

/*# sourceMappingURL=estilos.css.map */
